.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 5980.700000000002px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u590
{
	z-index: 2;
	width: 1160px;
	height: 815px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 22px;
	background: transparent url("../images/bgd-1-u590-fr.png") no-repeat right center;
	background-size: cover !important;
}

#pu88
{
	width: 0.01px;
	left: -100px;
	top: -815px;
	margin-bottom: -556px;
	position: relative;
	padding: 70px 1061px 486px 100px;
}

#u88
{
	z-index: 118;
	width: 1159px;
	height: 69px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u395
{
	z-index: 143;
	width: 157px;
	position: fixed;
	top: 5px;
	left: 50%;
	margin-left: -566px;
}

#u442
{
	z-index: 146;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #CCCCCC;
	position: fixed;
	top: 25px;
	left: 50%;
	margin-left: -377px;
}

#u412
{
	z-index: 145;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #CCCCCC;
	position: fixed;
	top: 25px;
	left: 50%;
	margin-left: 264px;
}

#u92-4
{
	z-index: 119;
	width: 79px;
	min-height: 15px;
	background-color: transparent;
	text-align: center;
	line-height: 10px;
	color: #424242;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: -321px;
}

#u92-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px -321px;
}

#u92-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px -321px;
}

#u92-4:hover p
{
	color: #ABABAB;
	visibility: inherit;
}

#u99-4
{
	z-index: 123;
	width: 165px;
	min-height: 15px;
	background-color: transparent;
	text-align: center;
	line-height: 10px;
	color: #424242;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: -208px;
}

#u99-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px -208px;
}

#u99-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px -208px;
}

#u99-4:hover p
{
	color: #ABABAB;
	visibility: inherit;
}

#u100-4
{
	z-index: 127;
	width: 105px;
	min-height: 15px;
	background-color: transparent;
	text-align: center;
	line-height: 10px;
	color: #424242;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: -9px;
}

#u100-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px -9px;
}

#u100-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px -9px;
}

#u100-4:hover p
{
	color: #ABABAB;
	visibility: inherit;
}

#u102-4
{
	z-index: 131;
	width: 75px;
	min-height: 15px;
	background-color: transparent;
	text-align: center;
	line-height: 10px;
	color: #424242;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: 131px;
}

#u102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px 131px;
}

#u102-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px 131px;
}

#u102-4:hover p
{
	color: #ABABAB;
	visibility: inherit;
}

#u92-4.MuseLinkActive p,#u99-4.MuseLinkActive p,#u100-4.MuseLinkActive p,#u102-4.MuseLinkActive p
{
	color: #000000;
	visibility: inherit;
}

#u104-4
{
	z-index: 135;
	width: 110px;
	min-height: 15px;
	background-color: transparent;
	text-align: right;
	line-height: 10px;
	color: #424242;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: 311px;
}

#u104-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px 311px;
}

#u411-4
{
	z-index: 139;
	width: 91px;
	min-height: 15px;
	background-color: transparent;
	text-align: right;
	line-height: 10px;
	color: #424242;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: 458px;
}

#u411-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px 458px;
}

#u104-4:hover p,#u411-4:hover p
{
	color: #ABABAB;
	visibility: inherit;
}

#u521
{
	z-index: 107;
	width: 540px;
	position: fixed;
	top: 272px;
	left: 210px;
}

#u91-4
{
	z-index: 108;
	width: 540px;
	min-height: 147px;
	line-height: 163px;
	letter-spacing: -3px;
	text-align: center;
	color: #424242;
	font-size: 136px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u109-4
{
	z-index: 112;
	width: 540px;
	min-height: 147px;
	line-height: 77px;
	text-align: center;
	color: #424242;
	font-size: 64px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
}

#u516
{
	z-index: 116;
	width: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 256px;
}

.js #u91-4.ose_pre_init,.js #u109-4.ose_pre_init,.js #u516.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#kdo-jsme
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 85px;
}

#u103
{
	z-index: 3;
	width: 1160px;
	height: 946px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 22px;
	background: transparent url("../images/kukej-u103-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u447
{
	z-index: 4;
	width: 567px;
	position: fixed;
	top: 1200px;
	left: 373px;
}

#u116-4
{
	z-index: 14;
	width: 482px;
	min-height: 99px;
	line-height: 102px;
	letter-spacing: -3px;
	text-align: center;
	color: #FFFFFF;
	font-size: 85px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 43px;
	position: relative;
}

#u115-4
{
	z-index: 10;
	width: 567px;
	min-height: 56px;
	line-height: 55px;
	letter-spacing: -2px;
	text-align: center;
	color: #ABABAB;
	font-size: 46px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u108-5
{
	z-index: 5;
	width: 486px;
	min-height: 233px;
	line-height: 21px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 47px;
	margin-top: 12px;
	position: relative;
}

#u108-2
{
	text-align: center;
	color: #FFFFFF;
}

#u108-3
{
	text-align: left;
	color: #000000;
}

#pzamereni
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#zamereni
{
	position: relative;
}

#two
{
	margin-top: 489px;
	position: relative;
}

#three
{
	margin-top: 449px;
	position: relative;
}

#four
{
	margin-top: 432px;
	position: relative;
}

#five
{
	margin-top: 431px;
	position: relative;
}

#klienti
{
	margin-top: 655px;
	position: relative;
}

#u180
{
	z-index: 18;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u180_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 267px;
	padding-bottom: 230px;
}

#u171-7
{
	z-index: 79;
	width: 572px;
	min-height: 250px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 120px;
	position: relative;
}

#u170-7
{
	z-index: 58;
	width: 572px;
	min-height: 226px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 120px;
	margin-top: 650px;
	position: relative;
}

#u176-9
{
	z-index: 39;
	width: 572px;
	min-height: 310px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 120px;
	margin-top: 684px;
	position: relative;
}

#u175
{
	z-index: 19;
	width: 1159px;
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.51);
	padding-bottom: 87px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1505px;
	left: 22px;
	-pie-background: rgba(244, 244, 244, 0.51);
}

#u174-9
{
	z-index: 30;
	width: 572px;
	min-height: 270px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 467px;
}

#u176-2,#u176-4,#u174-2,#u174-4
{
	font-size: 38px;
	line-height: 48px;
	color: #424242;
}

#u184
{
	z-index: 20;
	width: 1159px;
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #FBFBFB;
	background-color: rgba(249, 249, 249, 0.51);
	padding-bottom: 113px;
	position: relative;
	margin-right: -10000px;
	margin-top: 588px;
	left: 22px;
	-pie-background: rgba(249, 249, 249, 0.51);
}

#u175_align_to_page,#u184_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	position: relative;
	left: -100px;
}

#u156-7
{
	z-index: 23;
	width: 572px;
	min-height: 200px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 465px;
}

#u171-2,#u170-2,#u156-2
{
	font-size: 38px;
	line-height: 58px;
	color: #424242;
}

#u171-3,#u170-3,#u176-5,#u174-5,#u156-3
{
	line-height: 21px;
	color: #B8B8B8;
}

#u171-5,#u170-5,#u176-7,#u174-7,#u156-5
{
	line-height: 21px;
	color: #7F7F7F;
}

#pu468
{
	width: 0.01px;
	padding-bottom: 2056px;
	margin-left: 20px;
	top: -2372px;
	margin-bottom: -2056px;
	position: relative;
}

#u468
{
	z-index: 99;
	width: 250px;
	position: fixed;
	top: 2451px;
	left: 20px;
}

#u474
{
	z-index: 101;
	width: 250px;
	position: fixed;
	top: 3379px;
	left: 20px;
}

#u474_img
{
	padding-right: 25px;
	padding-bottom: 25px;
}

#u463
{
	z-index: 93;
	width: 250px;
	position: fixed;
	top: 2006px;
	left: 690px;
}

#u471
{
	z-index: 95;
	width: 250px;
	position: fixed;
	top: 2910px;
	left: 688px;
}

#u477
{
	z-index: 97;
	width: 250px;
	position: fixed;
	top: 3812px;
	left: 688px;
}

#phome,#pkdo-jsme,#ppzamereni,#pu138
{
	width: 0.01px;
	left: -122px;
	position: relative;
}

#u138
{
	z-index: 21;
	width: 1160px;
	height: 771px;
	border-style: none;
	border-color: transparent;
	background-color: #F6F6F6;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u186
{
	z-index: 22;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 802px;
	position: relative;
	margin-right: -10000px;
	margin-top: 744px;
	left: 22px;
}

#u186_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u331-10
{
	z-index: 48;
	width: 431px;
	min-height: 68px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 365px;
}

#kontakt
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 744px;
}

#pu369
{
	width: 0.01px;
	padding-bottom: 296px;
	margin-left: 57px;
	top: -1510px;
	margin-bottom: -296px;
	position: relative;
}

#u369
{
	z-index: 65;
	width: 60px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 4653px;
	left: 57px;
}

#u1012
{
	z-index: 77;
	width: 133px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 4617px;
	left: 204px;
}

#u1100
{
	z-index: 73;
	width: 133px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 4769px;
	left: 204px;
}

#u379
{
	z-index: 69;
	width: 133px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 4616px;
	left: 414px;
}

#u1023
{
	z-index: 71;
	width: 133px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 4769px;
	left: 414px;
}

#u384
{
	z-index: 86;
	width: 153px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 4606px;
	left: 605px;
}

#u1110
{
	z-index: 75;
	width: 133px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 4769px;
	left: 616px;
}

#u374
{
	z-index: 67;
	width: 101px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 4632px;
	left: 837px;
}

.js #u116-4.ose_pre_init,.js #u115-4.ose_pre_init,.js #u108-5.ose_pre_init,.js #u468.ose_pre_init,.js #u474.ose_pre_init,.js #u463.ose_pre_init,.js #u471.ose_pre_init,.js #u477.ose_pre_init,.js #u369.ose_pre_init,.js #u1012.ose_pre_init,.js #u1100.ose_pre_init,.js #u379.ose_pre_init,.js #u1023.ose_pre_init,.js #u384.ose_pre_init,.js #u1110.ose_pre_init,.js #u374.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#page .verticalspacer
{
	clear: both;
}

