.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 6772.95px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u638
{
	z-index: 57;
	width: 1160px;
	height: 815px;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

.ie #u638
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u639
{
	z-index: 58;
	width: 1160px;
	height: 865px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#pu696
{
	width: 0.01px;
	left: -100px;
	top: -865px;
	margin-bottom: -620px;
	position: relative;
	padding: 70px 1061px 550px 100px;
}

#u696
{
	z-index: 248;
	width: 1159px;
	height: 69px;
	border-width: 1px;
	border-style: solid;
	border-color: #525252;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u658
{
	z-index: 275;
	width: 75px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -540px;
}

#u649
{
	z-index: 250;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #525252;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: fixed;
	top: 25px;
	left: 50%;
	margin-left: -350px;
}

#u648
{
	z-index: 249;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #525252;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: fixed;
	top: 25px;
	left: 50%;
	margin-left: 352px;
}

#u652-4
{
	z-index: 251;
	width: 79px;
	min-height: 15px;
	background-color: transparent;
	color: #FDFDFD;
	text-align: center;
	line-height: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: -265px;
}

#u652-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px -265px;
}

#u652-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px -265px;
}

#u652-4:hover p
{
	color: #ABABAB;
	visibility: inherit;
}

#u653-4
{
	z-index: 255;
	width: 72px;
	min-height: 15px;
	background-color: transparent;
	color: #FDFDFD;
	text-align: center;
	line-height: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: -152px;
}

#u653-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px -152px;
}

#u653-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px -152px;
}

#u653-4:hover p
{
	color: #ABABAB;
	visibility: inherit;
}

#u654-4
{
	z-index: 259;
	width: 90px;
	min-height: 15px;
	background-color: transparent;
	color: #FDFDFD;
	text-align: center;
	line-height: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: -46px;
}

#u654-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px -46px;
}

#u654-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px -46px;
}

#u654-4:hover p
{
	color: #ABABAB;
	visibility: inherit;
}

#u655-4
{
	z-index: 263;
	width: 64px;
	min-height: 15px;
	background-color: transparent;
	color: #FDFDFD;
	text-align: center;
	line-height: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: 78px;
}

#u655-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px 78px;
}

#u655-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px 78px;
}

#u655-4:hover p
{
	color: #ABABAB;
	visibility: inherit;
}

#u968-4
{
	z-index: 267;
	width: 92px;
	min-height: 15px;
	background-color: transparent;
	color: #FDFDFD;
	text-align: center;
	line-height: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: 176px;
}

#u968-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px 176px;
}

#u968-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px 176px;
}

#u968-4:hover p
{
	color: #ABABAB;
	visibility: inherit;
}

#u652-4.MuseLinkActive p,#u653-4.MuseLinkActive p,#u654-4.MuseLinkActive p,#u655-4.MuseLinkActive p,#u968-4.MuseLinkActive p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u656-4
{
	z-index: 271;
	width: 110px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	line-height: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: 429px;
}

#u656-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px 429px;
}

#u656-4:hover p
{
	color: #ABABAB;
	visibility: inherit;
}

#u722
{
	z-index: 59;
	width: 628px;
	position: fixed;
	top: 223px;
	left: -72px;
}

#u727
{
	z-index: 61;
	width: 252px;
	position: fixed;
	top: 377px;
	left: 630px;
}

#u640
{
	z-index: 62;
	width: 252px;
	position: relative;
}

#u644-6
{
	z-index: 63;
	width: 252px;
	min-height: 64px;
	text-align: center;
	letter-spacing: -1px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u644-2
{
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
}

#u644-4
{
	font-size: 20px;
	line-height: 24px;
	color: #C5C5C5;
}

#u718
{
	z-index: 69;
	width: 30px;
	margin-left: 112px;
	margin-top: 17px;
	position: relative;
}

.js #u644-6.ose_pre_init,.js #u718.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#home,#myslenka
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u673
{
	z-index: 2;
	width: 1160px;
	height: 1001px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u759
{
	z-index: 7;
	width: 880px;
	position: fixed;
	top: 1014px;
	left: 40px;
}

#u674-10
{
	z-index: 8;
	width: 247px;
	min-height: 151px;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
}

#pu695-8
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 265px;
}

#u695-8
{
	z-index: 37;
	width: 247px;
	min-height: 151px;
	background-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 51px;
	position: relative;
}

#u729
{
	z-index: 45;
	width: 350px;
	margin-top: 39px;
	position: relative;
}

#u729_img
{
	padding-right: 1px;
	padding-bottom: 52px;
}

#u683-8
{
	z-index: 29;
	width: 247px;
	min-height: 151px;
	margin-left: 51px;
	margin-top: 5px;
	position: relative;
}

#u674-2,#u695-2,#u683-2
{
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	letter-spacing: -2px;
	color: #424242;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u693-11
{
	z-index: 18;
	width: 247px;
	min-height: 151px;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 633px;
}

#u693-3
{
	font-size: 40px;
	text-align: center;
	letter-spacing: -2px;
	color: #424242;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u693
{
	font-size: 30px;
	line-height: 36px;
}

#u693-2
{
	line-height: 48px;
}

#u674-3,#u695-3,#u683-3,#u693-4
{
	text-align: center;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#pu638,#pmyslenka,#pprealizace
{
	width: 0.01px;
	left: -122px;
	position: relative;
}

#prealizace
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#realizace
{
	position: relative;
}

#moznosti
{
	margin-top: 1124px;
	position: relative;
}

#ukazky
{
	margin-top: 1209px;
	position: relative;
}

#rekli-o-nas
{
	margin-top: 1833px;
	position: relative;
}

#u728-3
{
	z-index: 3;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 1334px;
}

#u676
{
	z-index: 48;
	width: 1159px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u676_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	position: relative;
	left: -100px;
	padding-top: 138px;
	padding-bottom: 2317px;
}

#u752-8
{
	z-index: 49;
	width: 529px;
	min-height: 88px;
	left: 315px;
	position: relative;
}

#u752-2
{
	font-size: 35px;
	text-align: center;
	line-height: 42px;
	letter-spacing: -2px;
	color: #424242;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u674-5,#u674-7,#u695-5,#u683-5,#u693-6,#u693-8,#u752-3,#u752-5
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u796
{
	z-index: 71;
	width: 569px;
	left: 295px;
	margin-top: 36px;
	position: relative;
}

#u774
{
	z-index: 72;
	width: 569px;
	position: relative;
}

#u764
{
	z-index: 73;
	width: 54px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 258px;
}

#u773-7
{
	z-index: 75;
	width: 569px;
	min-height: 75px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u795
{
	z-index: 82;
	width: 1px;
	height: 40px;
	border-color: #000000;
	background-color: #C8C8C8;
	margin-left: 284px;
	margin-top: 11px;
	position: relative;
}

.js #u658.ose_pre_init,.js #u722.ose_pre_init,.js #u795.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u925-5
{
	z-index: 201;
	width: 529px;
	min-height: 88px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 319px;
	margin-top: 2117px;
	position: relative;
}

#u925-2
{
	font-size: 35px;
	line-height: 42px;
	letter-spacing: -2px;
	color: #424242;
}

#u925-3
{
	font-size: 20px;
	line-height: 24px;
	color: #7F7F7F;
}

#u818
{
	z-index: 83;
	width: 569px;
	position: relative;
	margin-right: -10000px;
	margin-top: 425px;
	left: 318px;
}

#u820
{
	z-index: 84;
	width: 569px;
	position: relative;
}

#u822
{
	z-index: 85;
	width: 54px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 258px;
}

#u821-7
{
	z-index: 87;
	width: 569px;
	min-height: 75px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u819
{
	z-index: 94;
	width: 1px;
	height: 40px;
	border-color: #000000;
	background-color: #C8C8C8;
	margin-left: 284px;
	margin-top: 11px;
	position: relative;
}

#u832
{
	z-index: 95;
	width: 569px;
	position: relative;
	margin-right: -10000px;
	margin-top: 568px;
	left: 318px;
}

#u834
{
	z-index: 96;
	width: 569px;
	position: relative;
}

#u835
{
	z-index: 97;
	width: 54px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 258px;
}

#u837-7
{
	z-index: 99;
	width: 569px;
	min-height: 75px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u833
{
	z-index: 106;
	width: 1px;
	height: 40px;
	border-color: #000000;
	background-color: #C8C8C8;
	margin-left: 284px;
	margin-top: 11px;
	position: relative;
}

#u846
{
	z-index: 107;
	width: 569px;
	position: relative;
	margin-right: -10000px;
	margin-top: 711px;
	left: 318px;
}

#u848
{
	z-index: 108;
	width: 569px;
	position: relative;
}

#u850
{
	z-index: 109;
	width: 54px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 258px;
}

#u849-7
{
	z-index: 111;
	width: 569px;
	min-height: 75px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u847
{
	z-index: 118;
	width: 1px;
	height: 40px;
	border-color: #000000;
	background-color: #C8C8C8;
	margin-left: 284px;
	margin-top: 11px;
	position: relative;
}

#u860
{
	z-index: 119;
	width: 569px;
	position: relative;
	margin-right: -10000px;
	margin-top: 854px;
	left: 318px;
}

#u862
{
	z-index: 120;
	width: 569px;
	position: relative;
	margin-right: -10000px;
}

#u864
{
	z-index: 121;
	width: 54px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 258px;
}

#u863-7
{
	z-index: 123;
	width: 569px;
	min-height: 75px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u881
{
	z-index: 130;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1144px;
	left: 22px;
}

#u881_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 166px;
	padding-bottom: 178px;
}

#u884-4
{
	z-index: 131;
	width: 529px;
	min-height: 58px;
	font-size: 35px;
	text-align: center;
	line-height: 42px;
	letter-spacing: -2px;
	color: #424242;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 316px;
	position: relative;
}

#u886-6
{
	z-index: 139;
	width: 253px;
	min-height: 55px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u898-8
{
	z-index: 155;
	width: 356px;
	min-height: 66px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u897-6
{
	z-index: 173;
	width: 302px;
	min-height: 55px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 662px;
}

#u908-12
{
	z-index: 189;
	width: 431px;
	min-height: 93px;
	left: 365px;
	margin-top: 47px;
	position: relative;
}

#u908-2,#u908-3
{
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	color: #424242;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u908-5,#u908-7,#u908-9
{
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u914-4
{
	z-index: 135;
	width: 529px;
	min-height: 58px;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	letter-spacing: -2px;
	color: #424242;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 316px;
	margin-top: 260px;
	position: relative;
}

#pu886-6,#pu912-4
{
	width: 0.01px;
	left: 116px;
	margin-top: 49px;
	position: relative;
}

#u912-4
{
	z-index: 145;
	width: 253px;
	min-height: 55px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u911-6
{
	z-index: 163;
	width: 356px;
	min-height: 66px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u913-4
{
	z-index: 179;
	width: 302px;
	min-height: 55px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 662px;
}

#pu922-6
{
	width: 0.01px;
	left: 117px;
	margin-top: 49px;
	position: relative;
}

#u922-6
{
	z-index: 149;
	width: 253px;
	min-height: 55px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u923-4
{
	z-index: 169;
	width: 356px;
	min-height: 66px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u924-4
{
	z-index: 183;
	width: 302px;
	min-height: 55px;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 662px;
}

#u907
{
	z-index: 188;
	width: 1160px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #D3D3D3;
	position: relative;
	margin-right: -10000px;
	margin-top: 1773px;
	left: 22px;
}

#u938
{
	z-index: 206;
	width: 1160px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2720px;
	left: 22px;
	background: #FFFFFF url("../images/mail-mall-u938-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u957
{
	z-index: 207;
	width: 1160px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3720px;
	left: 22px;
	background: #FFFFFF url("../images/free-ipad-mockup-u957-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u947
{
	z-index: 208;
	width: 1160px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3220px;
	left: 22px;
	background: #FFFFFF url("../images/cez-mail-u947-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u976
{
	z-index: 209;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4220px;
	left: 22px;
}

#u976_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 91px;
	padding-bottom: 283px;
}

#u971
{
	z-index: 243;
	width: 244px;
	left: 448px;
	position: relative;
}

#u970-32
{
	z-index: 210;
	width: 599px;
	min-height: 334px;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	color: #ADADAD;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
	left: 277px;
	margin-top: 64px;
	position: relative;
}

#u970-10,#u970-14,#u970-18,#u970-22
{
	color: #FFFFFF;
}

#u977
{
	z-index: 245;
	width: 157px;
	position: fixed;
	top: 6852px;
	left: 50%;
	margin-left: -79px;
}

#page .verticalspacer
{
	clear: both;
}

